# 0. Чтение данных и базовое ознакомление

In [1]:
# импортируем необходимые библиотеки
import pandas as pd
import numpy as np

In [2]:
# считываем данные
df = pd.read_csv('data/data.csv')

In [3]:
# выясним размерность датасета
print('размерность датасета: ',df.shape)
# проверим корректность загрузки и ознакомимся с полями
df.head()

размерность датасета:  (377185, 18)

,status,private pool,propertyType,street,baths,homeFacts,fireplace,city,schools,sqft,zipcode,beds,state,stories,mls-id,PrivatePool,MlsId,target
0,Active,NaN,Single Family Home,240 Heather Ln,3.5,"{'atAGlanceFacts': [{'factValue': '2019', 'fac...",Gas Logs,Southern Pines,"[{'rating': ['4', '4', '7', 'NR', '4', '7', 'N...",2900,28387,4,NC,NaN,NaN,NaN,611019,"$418,000"
1,for sale,NaN,single-family home,12911 E Heroy Ave,3 Baths,"{'atAGlanceFacts': [{'factValue': '2019', 'fac...",NaN,Spokane Valley,"[{'rating': ['4/10', 'None/10', '4/10'], 'data...","1,947 sqft",99216,3 Beds,WA,2.0,NaN,NaN,201916904,"$310,000"
2,for sale,NaN,single-family home,2005 Westridge Rd,2 Baths,"{'atAGlanceFacts': [{'factValue': '1961', 'fac...",yes,Los Angeles,"[{'rating': ['8/10', '4/10', '8/10'], 'data': ...","3,000 sqft",90049,3 Beds,CA,1.0,NaN,yes,FR19221027,"$2,895,000"
3,for sale,NaN,single-family home,4311 Livingston Ave,8 Baths,"{'atAGlanceFacts': [{'factValue': '2006', 'fac...",yes,Dallas,"[{'rating': ['9/10', '9/10', '10/10', '9/10'],...","6,457 sqft",75205,5 Beds,TX,3.0,NaN,NaN,14191809,"$2,395,000"
4,for sale,NaN,lot/land,1524 Kiscoe St,NaN,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Palm Bay,"[{'rating': ['4/10', '5/10', '5/10'], 'data': ...",NaN,32908,NaN,FL,NaN,NaN,NaN,861745,"$5,000"

In [4]:
# оценим количество пропусков и типы данных
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377185 entries, 0 to 377184
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   status        337267 non-null  object
 1   private pool  4181 non-null    object
 2   propertyType  342452 non-null  object
 3   street        377183 non-null  object
 4   baths         270847 non-null  object
 5   homeFacts     377185 non-null  object
 6   fireplace     103115 non-null  object
 7   city          377151 non-null  object
 8   schools       377185 non-null  object
 9   sqft          336608 non-null  object
 10  zipcode       377185 non-null  object
 11  beds          285903 non-null  object
 12  state         377185 non-null  object
 13  stories       226470 non-null  object
 14  mls-id        24942 non-null   object
 15  PrivatePool   40311 non-null   object
 16  MlsId         310305 non-null  object
 17  target        374704 non-null  object
dtypes: object(18)
memory usage: 51.8+ MB

In [5]:
# посмотрим на количество явных пропусков с более удобного ракурса
df.isnull().sum()

status           39918
private pool    373004
propertyType     34733
street               2
baths           106338
homeFacts            0
fireplace       274070
city                34
schools              0
sqft             40577
zipcode              0
beds             91282
state                0
stories         150715
mls-id          352243
PrivatePool     336874
MlsId            66880
target            2481
dtype: int64

Описание данных:

- 'status' — статус продажи;
- 'private pool' и 'PrivatePool' — наличие собственного бассейна;
- 'propertyType' — тип объекта недвижимости;
- 'street' — адрес объекта;
- 'baths' — количество ванных комнат;
- 'homeFacts' — сведения о строительстве объекта (содержит несколько типов сведений, влияющих на оценку объекта);
- 'fireplace' — наличие камина;
- 'city' — город;
- 'schools' — сведения о школах в районе;
- 'sqft' — площадь в футах;
- 'zipcode' — почтовый индекс;
- 'beds' — количество спален;
- 'state' — штат;
- 'stories' — количество этажей;
- 'mls-id' и 'MlsId' — идентификатор MLS (Multiple Listing Service, система мультилистинга);
- 'target' — цена объекта недвижимости (целевой признак, который необходимо спрогнозировать).

_____________

# 1. Предобработка данных

In [6]:
# для начала удалим записи с пустыми значениями целевой переменной, они явно не участвуют в этом мероприятии
df = df[~df['target'].isna()]
df.shape[0]

374704

In [7]:
# пройдемся по датасету и уберем общую проблему - лишние пробелы и переносы строк
df = df.replace({r'\s+$': '', r'^\s+': ''}, regex=True).replace(r'\n',  ' ', regex=True)

In [8]:
# проанализируем датасет на наличие полных дубликатов
df.duplicated().sum()

49

In [9]:
# удалим полные дубликаты исходного датасета
df = df.drop_duplicates()
df.shape[0]

374655

#### Последовательно проверим признаки

In [10]:
# ознакомимся с внесенными значениями по диагонали, чтобы выделить основные сложности с обработкой
columns = df.columns
for column in columns:
    print()
    print(column)
    print('количество вариантов : ', df[column].value_counts().shape[0])
    print()
    print(df[column].value_counts().head(50))
    if df[column].value_counts().shape[0] > 50:
        print(df[column].value_counts().tail(50))

status
количество вариантов :  156

for sale                             156054
Active                               105206
For sale                              43464
foreclosure                            5677
New construction                       5458
Pending                                4697
Pre-foreclosure                        2000
P                                      1488
Pre-foreclosure / auction              1281
Under Contract Show                    1183
/ auction                               799
Under Contract   Showing                793
Active Under Contract                   718
New                                     690
Under Contract                          690
Contingent                              581
Price Change                            563
Auction                                 493
A Active                                443
for rent                                398
Foreclosure                             343
Foreclosed                              294
Under Contract Backups                  252
Contingent Finance And Inspection       240
Pending Continue To Show                194
Option Pending                          110
Back on Market                          106
pending                                 105
Contingent Show                         101
Pending Taking Backups                   63
Option Contract                          54
Active With Offer                        49
Pending With Contingencies               44
Active Backup                            39
C                                        39
Pi                                       36
Contract P                               36
P Pending Sale                           35
Auction - Active                         28
Listing Extended                         28
Due Diligence Period                     27
Contract Contingent On Buyer Sale        25
C Continue Show                          18
Pending - Taking Backups                 17
Active/Contingent                        15
Offer Pending Signature                  15
Contingent Take Backup                   14
Pending Inspection                       14
Active With Contingencies                13
Contingent   Show                        13
Name: status, dtype: int64
Under Contract - No Show                2
Coming soon: Dec 16.                    2
Pending - Continue to Show              2
Coming soon: Dec 18.                    2
Coming soon: Nov 21.                    2
For Sale                                2
Coming soon: Dec 24.                    2
Under contract                          2
Coming soon: Nov 22.                    2
Pending (Do Not Show)                   2
Uc Continue To Show                     2
Pending W/ Cont.                        2
Coming soon: Dec 20.                    2
Contingent - Financing                  2
Coming soon: Dec 1.                     1
Under Contract W/ Bckp                  1
Coming soon: Dec 12.                    1
Pending Sh                              1
Contingent - Sale of Home               1
Coming soon: Nov 12.                    1
Lease/Purchase                          1
Conting Accpt Backups                   1
Coming soon: Nov 25.                    1
Pending Take Backups                    1
Reactivated                             1
Under Contract Taking Back Up Offers    1
Backup                                  1
Coming soon: Nov 5.                     1
Coming soon: Oct 21.                    1
Contingent   No Show                    1
Coming soon: Nov 17.                    1
Coming soon: Nov 23.                    1
Pending Bring Backup                    1
Pending, Continue to Show               1
Coming soon: Nov 14.                    1
Coming soon: Oct 24.                    1
Coming soon: Dec 25.                    1
Coming soon: Nov 11.                    1
Temporary Active                        1
Pending W/Escape Clause                 1
Pending Backups Wanted                  1
Coming soon: Nov 26.                    1
Contract                                1
Coming soon: Dec 27.                    1
Conditional Contract                    1
Coming soon: Nov 8.                     1
Coming soon: Oct 29.                    1
Coming soon: Dec 15.                    1
Pending W/Backup Wanted                 1
Coming soon: Dec 23.                    1
Name: status, dtype: int64

private pool
количество вариантов :  1

Yes    4151
Name: private pool, dtype: int64

propertyType
количество вариантов :  1279

single-family home                  91370
Single Family                       61886
Single Family Home                  31725
condo                               25874
lot/land                            20506
Condo                               16494
townhouse                           11435
Land                                10933
multi-family                         7874
Condo/Townhome/Row Home/Co-Op        7701
Townhouse                            6909
Traditional                          5912
coop                                 3264
Multi Family                         2771
High Rise                            1823
Ranch                                1781
Detached, One Story                  1614
mobile/manufactured                  1613
Single Detached, Traditional         1581
Contemporary                         1556
Multi-Family Home                    1501
1 Story                              1234
Colonial                             1204
Mobile / Manufactured                1056
Contemporary/Modern                  1000
2 Stories                             911
Mfd/Mobile Home                       791
Single Detached                       751
Detached, Two Story                   638
One Story                             592
Transitional                          560
Cooperative                           533
Florida                               530
Apartment                             529
Bungalow                              442
Farms/Ranches                         371
Two Story                             312
Garden Home                           305
Cape Cod                              281
2 Story                               281
2 Stories, Traditional                280
Spanish/Mediterranean                 272
apartment                             268
Other Style                           249
1 Story, Traditional                  237
Other                                 231
Condo/Townhome, Traditional           225
Craftsman                             201
Contemporary/Modern, Traditional      200
Condo/Townhome                        183
Name: propertyType, dtype: int64
Cape, Multi-Level, Other Style                                            1
Colonial, Contemporary/Modern, English, French, Traditional               1
Ranch, Split-Level                                                        1
2 Stories, Traditional, Other (See Remarks)                               1
A-Frame, Arts & Crafts, Farm House                                        1
Stilt House                                                               1
Contemporary, Florida, Other                                              1
Georgian, Other Style                                                     1
Colonial, Townhouse                                                       1
3+ Stories, Texas Hill Country                                            1
Contemporary, Modern, Transitional, Other (See Remarks)                   1
Condo/Unit, Contemporary, Traditional                                     1
French, Georgian, Traditional                                             1
Custom, Florida, Key West, Traditional                                    1
Farm/Ranch House, Single Detached, Contemporary/Modern, Ranch             1
Traditional, Art Deco, Beaux Arts                                         1
Manuf/Mobile                                                              1
Single Detached, Contemporary/Modern, Mid-Century Modern, Prairie         1
Single Detached, Craftsman, Traditional, Tudor                            1
Courtyard, Custom                                                         1
Contemporary/Modern, English, French, Traditional                         1
Loft, Traditional                                                         1
Condo/Townhome, Contemporary/Modern, Split Level                          1
1 Story, Contemporary, Ranch, Traditional, Craftsman                      1
Townhouse, 2-Story                                                        1
Bungalow, Craftsman, Transitional                                         1
1 Story, Historic/Older, Other (See Remarks)                              1
Condo/Townhome, Single Detached, Other (See Remarks), Traditional         1
Mobile Home 1 Story                                                       1
Dutch, Contemporary                                                       1
A-Frame, Victorian/Federal                                                1
Contemporary, Modernist, Ranch, Rustic                                    1
Loft, Warehouse                                                           1
1 Story, Contemporary, Traditional, Mediterranean                         1
Manufactured House, Multi-Level, Manufactured Home                        1
Bungalow, Craftsman, Ranch, Transitional, Cottage                         1
30X40 building                                                            1
Split-Entry, Craftsman                                                    1
Custom, Florida, Other, Spanish/Mediterranean                             1
Single Detached, Contemporary/Modern, Ranch, Traditional                  1
Colonial, English, Traditional                                            1
Single Detached, Contemporary/Modern, Other (See Remarks), Traditional    1
1 Story, Spanish, Ranch, Traditional                                      1
Condo/Townhome, Single Detached                                           1
Contemporary/Modern, French, Mediterranean, Traditional                   1
1 Story, Contemporary, Other (See Remarks)                                1
Custom, Elevated, Other                                                   1
Contemporary, Farmhouse                                                   1
2 Stories, Traditional, Mediterranean, Texas Hill Country                 1
Bilevel, Converted Dwelling, Loft with Bedrooms, Condo/Unit               1
Name: propertyType, dtype: int64

street
количество вариантов :  298945

Address Not Disclosed            672
Undisclosed Address              516
(undisclosed Address)            391
Address Not Available            175
Unknown Address                   72
2103 E State Hwy 21               57
11305 Gulf Fwy                    54
17030 Youngblood Rd.              38
NE 58th Cir                       34
9470 Lancaster Rd. SW             32
1 Palmer Dr                       27
9845 Basil Western Rd NW          25
8426 Terrace Valley Circle        25
6320 SW 89th Court Road           24
8447 SW 99th Street Rd            22
5221 S. Zapata Hwy                20
Whitetail Trail                   19
Stone Bluff Drive                 18
3423 Heather Garden Trail         17
2005 West Happy Valley Road       17
Boncher Blvd                      17
1365 Neihart Way                  17
3435 Heather Garden Trail         17
1727 Opal Field Lane              17
24423 Ferdossa Drive              17
1024 Dali Blvd.                   16
11 Pheasant Drive                 16
606 Vineyard Hollow Court         16
50 Leanni Way                     16
13410 Canterbury Castle Drive     15
1009 Rio De Janeiro Ave           15
9915 Camellia Gardens Drive       15
18122 Shimmer Lane                14
24807 Twilight Hollow Lane        14
3 Hemingway Avenue                14
2914 Karlissa Trail               14
9522 Summer River Dr              14
9200 Harrisburg Road              14
4707 Staffordshire Lane           14
Dietz Drive                       13
108 Old Bay Loop                  13
25 Orlando Blvd                   13
14914 Bagley Lane                 13
7202 Duke Drive                   13
1793 Blanco Bend Drive            13
134 Hidden Lakes Road             12
18101 Bankhead Rd                 12
SW 115th St                       12
4693 Fairy Tale Circle            12
Islitas Dr                        12
Name: street, dtype: int64
5025 Pine St                                     1
96 Vincent St                                    1
8611 NE 143rd Ave                                1
7100 Roca Way                                    1
7302 Horizon Dr                                  1
285 Shadow Lakes Dr                              1
7740 Southside Blvd APT 906                      1
2009 Village Creek Dr                            1
13075 Lanier Rd                                  1
265 S Owens Dr                                   1
8728 Grand Ave                                   1
10895 Willow Heights Dr                          1
6201 N Falls Circle Dr #105                      1
2738 Enslin St                                   1
Camden Basement Plan in The Meridians            1
14412 SW 130th Ave                               1
5364 W 23rd Ln #3                                1
The Plantation in The Reserve at Seven Points    1
8125 S Evans Ave                                 1
25230 Cadiz Dr                                   1
8288 Mount Nido Dr                               1
302 Tempranillo Way                              1
16220 NW 2nd Ave APT 511                         1
18150 NE 16th Ter                                1
7206 Sherwood Dr                                 1
10854 Union Hall St                              1
1710 W Berkeley Pl                               1
1255 E Nees Ave                                  1
17507 Endel Way                                  1
419 E Griffith Way                               1
2701 NE 10th St Apt 704                          1
MLS #: UCOM361483                                1
306 Delaware Ave #A                              1
413 Whitaker St                                  1
1815 Colquitt St #A                              1
8350 Ivory Tower Dr                              1
1346 Midland Ave APT 3J                          1
425 SW 175th Pl                                  1
3702 Buffaloe Rd #6                              1
606 Lincoln Dr                                   1
823 W 110th St                                   1
818 Vermont St                                   1
6226 Scarlet Darter Way Unit 92M                 1
1474 SW 19th Ave                                 1
3891 Claremont St                                1
1600 Highway 115 Lot 10                          1
13908 Vickery Ave E                              1
3953 Adra Ave Unit A-48                          1
11558 S Loomis St                                1
7810 Pereida St                                  1
Name: street, dtype: int64

baths
количество вариантов :  226

2 Baths         52072
3 Baths         35393
2               20429
2.0             16354
4 Baths         14723
3.0             10796
3               10093
Bathrooms: 2     9411
2.5              8113
Bathrooms: 3     6569
1                6569
1.0              5799
5 Baths          5367
4.0              4559
2.5 Baths        4448
0                3811
4                3561
3.5              3455
Bathrooms: 1     3126
2 ba             2679
6 Baths          2599
Bathrooms: 4     2372
1,500            2207
3 ba             1884
1.5              1857
3.5 Baths        1813
2,000            1792
1,750            1720
3,000            1684
5.0              1551
2,250            1440
1,000            1279
5                1219
7 Baths          1210
1,250            1203
4.5              1016
2,750             964
2,500             894
Bathrooms: 5      823
~                 780
1 ba              747
4 ba              735
6.0               733
3,500             653
8 Baths           638
6                 506
-- baths          495
4.5 Baths         380
7.0               362
Bathrooms: 6      351
Name: baths, dtype: int64
11 ba                    2
27 Baths                 2
11.5+                    2
34.0                     1
64.0                     1
68 Baths                 1
13 ba                    1
39 Baths                 1
30.0                     1
17.0                     1
42 Baths                 1
5.5 ba                   1
16 ba                    1
11.5 Baths               1
20.0                     1
23                       1
60 Baths                 1
1 / 1-0 / 1-0 / 1-0      1
6.75 Baths               1
1-2 Baths                1
Bathrooms: 15            1
2-1 / 2-1 / 1-1 / 1-1    1
76 Baths                 1
10.5 Baths               1
14.5+                    1
Bathrooms: 241           1
Bathrooms: 19            1
1-0 / 1-0 / 1            1
32                       1
Bathrooms: 27            1
35                       1
29 Baths                 1
116 / 116 / 116          1
21 Baths                 1
5.2 Baths                1
29                       1
Bathrooms: SemiMod       1
Bathrooms: 21            1
3-1 / 2-2                1
2.25 ba                  1
43 Baths                 1
34 Baths                 1
1 / 1 / 1 / 1            1
55.0                     1
25 Baths                 1
0.5 Baths                1
4.75 Baths               1
5.25 Baths               1
41.0                     1
44.0                     1
Name: baths, dtype: int64

homeFacts
количество вариантов :  318850

{'atAGlanceFacts': [{'factValue': '', 'factLabel': 'Year built'}, {'factValue': '', 'factLabel': 'Remodeled year'}, {'factValue': '', 'factLabel': 'Heating'}, {'factValue': '', 'factLabel': 'Cooling'}, {'factValue': '', 'factLabel': 'Parking'}, {'factValue': '—', 'factLabel': 'lotsize'}, {'factValue': None, 'factLabel': 'Price/sqft'}]}                              7142
{'atAGlanceFacts': [{'factValue': None, 'factLabel': 'Year built'}, {'factValue': None, 'factLabel': 'Remodeled year'}, {'factValue': None, 'factLabel': 'Heating'}, {'factValue': None, 'factLabel': 'Cooling'}, {'factValue': None, 'factLabel': 'Parking'}, {'factValue': None, 'factLabel': 'lotsize'}, {'factValue': None, 'factLabel': 'Price/sqft'}]}                   3484
{'atAGlanceFacts': [{'factValue': '', 'factLabel': 'Year built'}, {'factValue': '', 'factLabel': 'Remodeled year'}, {'factValue': '', 'factLabel': 'Heating'}, {'factValue': '', 'factLabel': 'Cooling'}, {'factValue': '', 'factLabel': 'Parking'}, {'factValue': '10000', 'factLabel': 'lotsize'}, {'factValue': None, 'factLabel': 'Price/sqft'}]}                           533
{'atAGlanceFacts': [{'factValue': '', 'factLabel': 'Year built'}, {'factValue': '', 'factLabel': 'Remodeled year'}, {'factValue': '', 'factLabel': 'Heating'}, {'factValue': '', 'factLabel': 'Cooling'}, {'factValue': '', 'factLabel': 'Parking'}, {'factValue': '', 'factLabel': 'lotsize'}, {'factValue': None, 'factLabel': 'Price/sqft'}]}                                531
{'atAGlanceFacts': [{'factValue': '', 'factLabel': 'Year built'}, {'factValue': '', 'factLabel': 'Remodeled year'}, {'factValue': '', 'factLabel': 'Heating'}, {'factValue': '', 'factLabel': 'Cooling'}, {'factValue': '', 'factLabel': 'Parking'}, {'factValue': '10,000 Sq. Ft.', 'factLabel': 'lotsize'}, {'factValue': None, 'factLabel': 'Price/sqft'}]}                  370
{'atAGlanceFacts': [{'factValue': '', 'factLabel': 'Year built'}, {'factValue': '', 'factLabel': 'Remodeled year'}, {'factValue': '', 'factLabel': 'Heating'}, {'factValue': '', 'factLabel': 'Cooling'}, {'factValue': '', 'factLabel': 'Parking'}, {'factValue': '0.25 acres', 'factLabel': 'lotsize'}, {'factValue': None, 'factLabel': 'Price/sqft'}]}                      327

##### Первичный осмотр признаков

- status

156 вариантов - возможно просмотреть и обработать детально. 
Какие-то категории точно можно объединять, вроде “Coming soon”
При этом, объект может менять свои статусы, и какие-то могут влиять на цену (например, как предположение, за долги), а какие-то нет (когда проходит обычный жизненный цикл вроде такого: “для продажи - показы - договор без обязательств”)

- propertyType

Один из самых сложных признаков в выборке. 
Разное написание, разные сокращения, и перечисление признаков через запятые и слэш, а где-то и просто через пробел. Очень неудобно.
Даже при разложении каждой записи этого поля на отдельные составляющие вложенного списка пока конечное количество вариантов непонятно.

- street

нет цели проверить каждый адрес, но топ повторяющихся вариантов можно и нужно просмотреть как минимум на предмет разных написаний “адреса нет”
Навскидку по крайней мере похоже, что в поле и правда вносят адрес.

- baths

Вариантов 226. Многовато, но можно обработать массовые нюансы - убрать типовые наборы слов в начале или конце записи, после чего повторно посмотреть схлопнувшиеся варианты и доработать еще раз.
Уже видны записи с 76 и 241 ванной. Пока тяжело осознать, что это может быть, если  не выброс. Также присутствуют записи через слэш. Надо смотреть подробнее.

- homefacts

Пока только понятно, что надо разложить на отдельные поля этот вложенный список. После этого уже отдельно смотреть что оттуда вытянется.

- fireplace

Разное написание, и где-то цифры, где-то слова. 1653 варианта - много для полноценной ручной обработки с индивидуальным просмотром.
При этом, наблюдаются характерные записи с указанием, газ это, электрика или на дровах/брикетах.
Нужно уменьшать количество вариантов.

- city

2019 нас.пункта. В первом приближении похоже, что внесены города.
Есть вероятность разного написания, но это можно выяснить только при более детальном просмотре.

- schools

списки разной длины, с разным количеством школ и соответствующих им характеристик. Здесь вариант только приводить к какой-то средней оценке. 

- sqft

Площадь объекта - по ощущениям основной показатель, его следует обработать максимально аккуратно.
Видно, что присутствует различное написание единиц измерения, а где-то ЕИ совсем отсутствует. Где-то есть разделитель разрядов, где-то его нет. Есть отдельные записи и с текстовым описанием. 
И конечно, критичны записи с отсутствием информации. Учитывая неаккуратность датасета, эта информация может присутствовать в других полях, необходимо посмотреть подробнее.

- zipcode 

Порадовало, что в верхней части рейтинга популярности значений отсутствует “нет кода” или нулевое значение. Этот факт дает надежду, что сможем определять нахождение объекта более подробно, нежели штат или город. 
Но есть некие значения через дефис. Первая составная часть похожа на основную массу индексов, со второй (после дефиса) пока непонятно.

- beds

1147 вариантов. Разное написание/обозначение слова “кровать”. Но что удивительно, в этом поле кое-где внесены значения площади. Возможно, в форме для заполнения какие-то поля были рядом и неочевидно подписаны, за счет чего сюда вносилась информация о площади (то ли жилой, то ли участка). Надо смотреть.

- state

Выглядит аккуратно, но смущают единичные значения - неужели один объект во всем штате? Надо проверить.

- stories

Знаки плюсов, где-то значения с точками, где-то без точек, где-то словами вроде “One” и т.п. Чистить и смотреть результат.

- mls-id и MlsId

Много повторяющихся значений, хотя по описанию признака казалось, что это уникальный идентификатор. Похоже, что нет, надо посмотреть поближе.

- target

Собственно целевой признак. Есть со значком $, есть без него. Есть плюсы, которые даже если что-то обозначали, мы проигнорируем и удалим.
И бросается в глаза в топ-30 значение $1000 в количестве почти тысяча записей. Тоже надо посмотреть.


Приступим к обработке от простого к сложному

____________

##### Частный бассейн - 'private pool' и 'PrivatePool'

In [11]:
# проверим пару признаков наличия частного бассейна
# для начала проверим варианты внесения информации
display(df['private pool'].value_counts())
display(df['PrivatePool'].value_counts())

Yes    4151
Name: private pool, dtype: int64

yes    28686
Yes    11434
Name: PrivatePool, dtype: int64

In [12]:
# предположим, что это признаки, созданные в базе данных в разное время
# т.е., информация о наличии бассейна есть либо в одном, либо в другом
# в таком случае, не должно быть записей, в которых одновременно указано наличие в обоих полях
# проверим простым способом - переведем наличие в "1" и сложим оба столбца
# если запись и там, и там, получим в этих записях двойки

# для начала переведем записи в единицы и проверим сохранение количеств значений
df['PrivatePool'] = df['PrivatePool'].apply(lambda x: 1 if x in ['yes', 'Yes'] else 0)
display(df['PrivatePool'].value_counts())
df['private pool'] = df['private pool'].apply(lambda x: 1 if x in ['yes', 'Yes'] else 0)
display(df['private pool'].value_counts())

0    334535
1     40120
Name: PrivatePool, dtype: int64

0    370504
1      4151
Name: private pool, dtype: int64

In [13]:
# поскольку перекодирование столбцов прошло успешно, теперь делаем аггрегирующее поле
# проверка вариантов значений покажет, подтвердилось ли вышеописанное предположение
df['PoolPrivate'] = df['PrivatePool'] + df['private pool']
df['PoolPrivate'].value_counts()

0    330384
1     44271
Name: PoolPrivate, dtype: int64

In [14]:
# схема сработала, изначальные признаки можно удалить
df = df.drop(columns=['private pool', 'PrivatePool'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374655 entries, 0 to 377184
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   status        335399 non-null  object
 1   propertyType  340101 non-null  object
 2   street        374653 non-null  object
 3   baths         269308 non-null  object
 4   homeFacts     374655 non-null  object
 5   fireplace     102519 non-null  object
 6   city          374621 non-null  object
 7   schools       374655 non-null  object
 8   sqft          334560 non-null  object
 9   zipcode       374655 non-null  object
 10  beds          283726 non-null  object
 11  state         374655 non-null  object
 12  stories       224902 non-null  object
 13  mls-id        24937 non-null   object
 14  MlsId         310187 non-null  object
 15  target        374655 non-null  object
 16  PoolPrivate   374655 non-null  int64
dtypes: int64(1), object(16)
memory usage: 51.5+ MB

__________

##### Идентификаторы MLS - 'mls-id' и 'MlsId'

In [15]:
# проверим пару признаков идентификаторов MLS
# предположение такое - признаки заполнялись в разные периоды времени (как бассейны)
# если это так, значение есть либо в одном поле, либо в другом, проверим
print('Количество записей с одновременно заполненными полями "MlsId" и "mls-id" : ',df[~df['MlsId'].isna() & ~df['mls-id'].isna()].shape[0])

Количество записей с одновременно заполненными полями "MlsId" и "mls-id" :  0

In [16]:
# нет ни одной записи, в которой одновременно были бы непустые значения в обоих полях
# теперь проверим, нет ли одинаковых идентификаторов в обоих полях, и если есть, то идентичные ли записи им соответствуют
# это будет обозначать, что в какой-то момент одно поле для внесения отключили, а второе активировали
# для начала переведем в строчные буквы
df['MlsId'] = df['MlsId'].str.lower()
df['mls-id'] = df['mls-id'].str.lower()
MlsIdList = list(df['MlsId'].unique())
print('уникальных значений MlsId : ',len(MlsIdList))
mls_id_List = list(df['mls-id'].unique())
print('уникальных значений mls-id : ',len(mls_id_List))
print ('при пересечении только nan длина множества должна быть : ', (len(MlsIdList)+len(mls_id_List)-1))
Mls = set(MlsIdList + mls_id_List)
print('уникальных значений кумулятивно по обоим столбцам : ',len(Mls))
if len(Mls) < (len(MlsIdList)+len(mls_id_List)-1):
    print('значения столбцов пересекаются')
else:
    print('значения столбцов не пересекаются')

уникальных значений MlsId :  232861
уникальных значений mls-id :  24902
при пересечении только nan длина множества должна быть :  257762
уникальных значений кумулятивно по обоим столбцам :  248925
значения столбцов пересекаются

In [17]:
# выделим несколько ID MLS, которые присутствуют в обоих полях, и проверим, одинаковые ли объекты им соответствуют
q = list(set(MlsIdList) & set(mls_id_List))[1:]
df[df['mls-id'].isin(q[:10]) | df['MlsId'].isin(q[:10])].sort_values(by='street')

,status,propertyType,street,baths,homeFacts,fireplace,city,schools,sqft,zipcode,beds,state,stories,mls-id,MlsId,target,PoolPrivate
358682,for sale,single-family home,1 Radney Cir,6 Baths,"{'atAGlanceFacts': [{'factValue': '1968', 'fac...",yes,Houston,"[{'rating': ['8/10', '6/10', '10/10'], 'data':...","6,910 sqft",77024,5 Beds,TX,2.0,NaN,14554484,"$2,450,000",0
56808,NaN,Single Family,1 Radney Cir,6,"{'atAGlanceFacts': [{'factValue': '1968', 'fac...",NaN,Piney Point Village,"[{'rating': ['10/10', '6/10', '8/10'], 'data':...","6,910",77024,5,TX,2.0,NaN,14554484,"$2,450,000",0
218827,For sale,Single Family,1 Radney Cir,6 ba,"{'atAGlanceFacts': [{'factValue': '1968', 'fac...",NaN,Houston,"[{'rating': ['10/10', '6/10', '8/10'], 'data':...","6,910 sqft",77024,5 bd,TX,NaN,14554484,NaN,"$2,450,000",0
146453,for sale,single-family home,1 Radney Cir,6 Baths,"{'atAGlanceFacts': [{'factValue': '1968', 'fac...",yes,Piney Pt Village,"[{'rating': ['8/10', '6/10', '10/10'], 'data':...","6,910 sqft",77024,5 Beds,TX,2.0,NaN,14554484,"$2,450,000",0
312041,for sale,single-family home,1520 NE 190th St,3 Baths,"{'atAGlanceFacts': [{'factValue': '1959', 'fac...",yes,Shoreline,"[{'rating': ['9/10', '6/10', '9/10'], 'data': ...","2,580 sqft",98155,6 Beds,WA,1.0,NaN,1538056,"$645,500",0
172087,For sale,Single Family,1520 NE 190th St,3 ba,"{'atAGlanceFacts': [{'factValue': '1959', 'fac...",NaN,Shoreline,"[{'rating': ['9/10', '6/10', '9/10'], 'data': ...","2,580 sqft",98155,6 bd,WA,NaN,1538056,NaN,"$645,500",0
252719,For sale,Single Family,2976 Plantation Rd,Bathrooms: 3,"{'atAGlanceFacts': [{'factValue': '1988', 'fac...",Yes,Winter Haven,"[{'rating': ['4/10', '3/10', '3/10'], 'data': ...","Total interior livable area: 3,941 sqft",33884,4 bd,FL,1.0,p4908667,NaN,"$524,900",1
130842,for sale,single-family home,2976 Plantation Rd,3 Baths,"{'atAGlanceFacts': [{'factValue': '1988', 'fac...",yes,Winter Haven,"[{'rating': ['3/10', '4/10', '3/10'], 'data': ...","3,941 sqft",33884,4 Beds,FL,1.0,NaN,p4908667,"$524,900",1
256560,for sale,single-family home,315 Nottingham Rd,5 Baths,"{'atAGlanceFacts': [{'factValue': '1981', 'fac...",yes,Jacksonville,"[{'rating': ['5/10', '6/10', '4/10'], 'data': ...","4,960 sqft",28546,6 Beds,NC,2.0,NaN,100181501,"$465,000",0
179939,For sale,Single Family,315 Nottingham Rd,Bathrooms: 5,"{'atAGlanceFacts': [{'factValue': '1981', 'fac...",Yes,Jacksonville,"[{'rating': ['4/10', '6/10', '5/10'], 'data': ...","Total interior livable area: 4,960 sqft",28546,6 bd,NC,2.0,100181501,NaN,"$465,000",0
68973,For sale,Single Family,365 Lawn St,Bathrooms: 2,"{'atAGlanceFacts': [{'factValue': '1920', 'fac...",NaN,Pittsburgh,"[{'rating': ['4/10', '4/10'], 'data': {'Distan...","Total interior livable area: 1,735 sqft",15213,5 bd,PA,2.0,1415724,NaN,"$218,000",0
312807,for sale,condo,5150 W 12th Ave #203,NaN,"{'atAGlanceFacts': [{'factValue': '1968', 'fac...",NaN,Hialeah,"[{'rating': ['6/10', '7/10', '4/10', '10/10', ...",736 sqft,33012,2 Beds,FL,NaN,NaN,a10748998,"$169,900",0
16394,Active,Coach/Carriage,5150 W 12th Ave #203,NaN,"{'atAGlanceFacts': [{'factValue': '1968', 'fac...",NaN,Hialeah,"[{'rating': ['7', '10', 'NR', '4', '5'], 'data...",736,33012,NaN,FL,NaN,NaN,a10748998,"169,900",0
225583,For sale,Condo,5150 W 12th Ave APT 203,Bathrooms: 1,"{'atAGlanceFacts': [{'factValue': '1968', 'fac...",NaN,Hialeah,"[{'rating': ['7/10', '4/10', '6/10'], 'data': ...",Total interior livable area: 736 sqft,33012,2 bd,FL,NaN,a10748998,NaN,"$169,900",0
290895,NaN,Single Family,5734 Thunder Oaks,3.0,"{'atAGlanceFacts': [{'factValue': '2007', 'fac...",Yes,San Antonio,"[{'rating': ['7/10', '6/10', '3/10'], 'data': ...","2,019",78261,4,TX,2.0,NaN,1415724,"$250,000",1
274763,For sale,Multi Family,736 N Zang Blvd,-- baths,"{'atAGlanceFacts': [{'factValue': '1925', 'fac...",NaN,Dallas,"[{'rating': ['4/10', '3/10', '4/10'], 'data': ...",-- sqft,75208,-- bd,TX,2.0,13956770,NaN,"$1,067,500",0
53790,for sale,multi-family,736 N Zang Blvd,NaN,"{'atAGlanceFacts': [{'factValue': '1925', 'fac...",NaN,Dallas,"[{'rating': ['4/10', '4/10', '3/10'], 'data': ...","4,876 sqft",75208,NaN,TX,2.0,NaN,13956770,"$1,067,500",0
139100,Active,NaN,820 Westover Ave,NaN,"{'atAGlanceFacts': [{'factValue': '1952', 'fac...",Living Room,Winston Salem,"[{'rating': ['8', '4', '7'], 'data': {'Distanc...",NaN,27104,NaN,NC,NaN,NaN,932142,"269,900",0
98556,For sale,Single Family,820 Westover Ave,Bathrooms: 2,"{'atAGlanceFacts': [{'factValue': '1952', 'fac...",NaN,Winston Salem,"[{'rating': ['8/10', '4/10', '7/10'], 'data': ...","Total interior livable area: 1,750 sqft",27104,3 bd,NC,1.0,932142,NaN,"$269,900",1
233400,for sale,single-family home,820 Westover Ave,2 Baths,"{'atAGlanceFacts': [{'factValue': '1952', 'fac...",yes,Winston Salem,"[{'rating': ['7/10', '8/10', '4/10'], 'data': ...","1,750 sqft",27104,3 Beds,NC,1.0,NaN,932142,"$269,900",1
62519,For sale,Single Family,917 Norwood Ave,Bathrooms: 2,"{'atAGlanceFacts': [{'factValue': '1957', 'fac...",Yes,High Pt,"[{'rating': ['3/10', '1/10', '5/10'], 'data': ...","Total interior livable area: 1,221 sqft",27262,2 bd,NC,1.0,951974,NaN,"$80,000",0
286198,for sale,single-family home,917 Norwood Ave,2 Baths,"{'atAGlanceFacts': [{'factValue': '1957', 'fac...",yes,High Pt,"[{'rating': ['5/10', '1/10', '3/10'], 'data': ...","1,221 sqft",27262,2 Beds,NC,1.0,NaN,951974,"$80,000",0
354897,For sale,Cooperative,950 Hoe Ave,1 ba,"{'atAGlanceFacts': [{'factValue': '1913', 'fac...",NaN,Bronx,"[{'rating': ['3/10', '2/10', '3/10'], 'data': ...","1,000 sqft",10459,2 bd,NY,NaN,5025010,NaN,"$125,000",0
166877,for sale,coop,950 Hoe Ave,NaN,"{'atAGlanceFacts': [{'factValue': '1977', 'fac...",NaN,Bronx,"[{'rating': ['2/10', '3/10'], 'data': {'Distan...","1,000 sqft",10459,2 Beds,NY,5.0,NaN,5025010,"$125,000",0

In [18]:
# на примере выборочной проверки делаем вывод, что идентификаторы в обоих полях относятся к одним и тем же объектам
# объединим идентификатор MLS в один столбец и удалим два исходных
df['MLS'] = df['MlsId'].fillna('') + df['mls-id'].fillna('')
#df = df.drop(columns=['MlsId', 'mls-id'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374655 entries, 0 to 377184
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   status        335399 non-null  object
 1   propertyType  340101 non-null  object
 2   street        374653 non-null  object
 3   baths         269308 non-null  object
 4   homeFacts     374655 non-null  object
 5   fireplace     102519 non-null  object
 6   city          374621 non-null  object
 7   schools       374655 non-null  object
 8   sqft          334560 non-null  object
 9   zipcode       374655 non-null  object
 10  beds          283726 non-null  object
 11  state         374655 non-null  object
 12  stories       224902 non-null  object
 13  mls-id        24937 non-null   object
 14  MlsId         310187 non-null  object
 15  target        374655 non-null  object
 16  PoolPrivate   374655 non-null  int64
 17  MLS           374655 non-null  object
dtypes: int64(1), object(17)
memory usage: 54.3+ MB

In [19]:
# посмотрим неоднократно встречающиеся варианты для проверки разного написания отсутствия номера
df['MLS'].value_counts().head(50)

                             39531
no mls                          42
no mls #                        16
a, houston, tx 77008            13
no                              12
12a, orlando, fl 32833          11
b, houston, tx 77008             9
1, south boston, ma 02127        9
b, houston, tx 77007             8
2, washington, dc 20002          8
11a, orlando, fl 32833           8
1, washington, dc 20002          7
2, washington, dc 20010          7
1, washington, dc 20010          6
1, washington, dc 20001          6
a, austin, tx 78721              6
2, washington, dc 20001          6
a, austin, tx 78704              6
2101941                          6
1412350                          6
2088662                          6
3a, orlando, fl 32833            6
1a, orlando, fl 32833            6
2, washington, dc 20009          6
nomlsid                          6
2, boston, ma 02129              6
0, doral, fl 33178               6
a, houston, tx 77018             5
14181176                         5
5413978                          5
1520876                          5
b, austin, tx 78704              5
14237217                         5
2281272                          5
1026004                          5
1367153                          5
1420965                          5
a10778725                        5
a, austin, tx 78702              5
dw19260559                       5
dcdc451020                       5
1298199                          5
14168512                         5
b, houston, tx 77057             5
14230543                         5
14191214                         5
u8059738                         5
dcdc449148                       5
14226392                         5
1, washington, dc 20009          5
Name: MLS, dtype: int64

In [20]:
# заменим обозначение отсутствия номера MLS на однотипное пустое значение
no_mls = ['no mls', 'no mls #', 'no', 'nomlsid']
df['MLS'] = df['MLS'].apply(lambda x: '' if (x in no_mls) else x)
df['MLS'].value_counts().head(50)

                             39607
a, houston, tx 77008            13
12a, orlando, fl 32833          11
1, south boston, ma 02127        9
b, houston, tx 77008             9
2, washington, dc 20002          8
11a, orlando, fl 32833           8
b, houston, tx 77007             8
2, washington, dc 20010          7
1, washington, dc 20002          7
2, boston, ma 02129              6
1, washington, dc 20010          6
2, washington, dc 20001          6
0, doral, fl 33178               6
a, austin, tx 78704              6
1412350                          6
1, washington, dc 20001          6
3a, orlando, fl 32833            6
a, austin, tx 78721              6
2, washington, dc 20009          6
2088662                          6
1a, orlando, fl 32833            6
2101941                          6
b, houston, tx 77057             5
1026004                          5
2281272                          5
1019437                          5
14168541                         5
1367153                          5
1537783                          5
14100701                         5
a, houston, tx 77057             5
dw19260559                       5
a, austin, tx 78702              5
c, houston, tx 77007             5
14187092                         5
2106972                          5
14212336                         5
1520876                          5
b, austin, tx 78704              5
14181176                         5
14191214                         5
1420965                          5
u8059738                         5
a, houston, tx 77018             5
14230543                         5
1424539                          5
14226392                         5
1, washington, dc 20009          5
14216924                         5
Name: MLS, dtype: int64

____________

##### Целевой признак target

In [21]:
# посмотрим еще раз в первом приближении
df['target'].value_counts()

$225,000     1462
$275,000     1355
$250,000     1312
$350,000     1296
$299,900     1276
             ...
274,359         1
$273,490+       1
$645,000+       1
$28,272         1
$171,306        1
Name: target, Length: 43939, dtype: int64

In [22]:
# проверим, нет ли помимо явных символов еще и букв в каких-то значениях
df[df['target'].str.contains('[a-zA-Z:]')]

,status,propertyType,street,baths,homeFacts,fireplace,city,schools,sqft,zipcode,beds,state,stories,mls-id,MlsId,target,PoolPrivate,MLS
547,for rent,single-family home,4323 N Central Park Ave,3.5 Baths,"{'atAGlanceFacts': [{'factValue': '1913', 'fac...",yes,Chicago,"[{'rating': ['1/10', '4/10', '2/10', 'None/10'...","3,300 sqft",60618,4 Beds,IL,NaN,NaN,10588057,"$5,500/mo",0,10588057
609,for rent,multi-family,220 Boylston St #1412,2 Baths,"{'atAGlanceFacts': [{'factValue': '1985', 'fac...",yes,Boston,"[{'rating': [], 'data': {'Distance': [], 'Grad...","1,673 sqft",2116,2 Beds,MA,NaN,NaN,72580936,"$10,500/mo",0,72580936
2075,for rent,single-family home,2830 NE 56th Ct,4 Baths,"{'atAGlanceFacts': [{'factValue': '1965', 'fac...",NaN,Fort Lauderdale,"[{'rating': ['6/10', '2/10', '4/10'], 'data': ...","2,400 sqft",33308,4 Beds,FL,NaN,NaN,a10521855,"$6,390/mo",1,a10521855
3025,for rent,multi-family,411 Kline Aly,2.5 Baths,"{'atAGlanceFacts': [{'factValue': '2014', 'fac...",NaN,Clarksville,"[{'rating': ['8/10', '9/10', '7/10'], 'data': ...","1,280 sqft",37040,2 Beds,TN,NaN,NaN,2102821,"$1,200/mo",0,2102821
3645,for rent,multi-family,240 E Illinois St #2011,2 Baths,"{'atAGlanceFacts': [{'factValue': '2003', 'fac...",NaN,Chicago,"[{'rating': ['4/10', '7/10'], 'data': {'Distan...","1,473 sqft",60611,2 Beds,IL,NaN,NaN,10590275,"$3,600/mo",1,10590275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371791,for rent,multi-family,9436 Turrentine Dr,1.5 Baths,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,El Paso,"[{'rating': ['4/10', '8/10', '6/10'], 'data': ...","1,050 sqft",79925,2 Beds,TX,NaN,NaN,820163,$890/mo,0,820163
372459,for rent,townhouse,34 Jonquil Pl,2.5 Baths,"{'atAGlanceFacts': [{'factValue': '2014', 'fac...",NaN,The Woodlands,"[{'rating': ['5/10', '8/10', '7/10', '8/10'], ...","2,601 sqft",77375,3 Beds,TX,NaN,NaN,62158637,"$2,500/mo",0,62158637
374288,for rent,single-family home,8864 Devonshire Dr,2 Baths,"{'atAGlanceFacts': [{'factValue': '2016', 'fac...",yes,Fort Worth,"[{'rating': ['6/10', '5/10', '5/10'], 'data': ...","2,000 sqft",76131,4 Beds,TX,NaN,NaN,NaN,"$2,000/mo",0,
375550,for rent,townhouse,2217 W Seybert St,NaN,"{'atAGlanceFacts': [{'factValue': '1920', 'fac...",NaN,Philadelphia,"[{'rating': ['1/10', '3/10'], 'data': {'Distan...",720 sqft,19121,2 Beds,PA,NaN,NaN,paph857944,"$1,500/mo",0,paph857944
376976,for rent,single-family home,3819 Alabama Ave NE,2 Baths,"{'atAGlanceFacts': [{'factValue': '1961', 'fac...",NaN,Saint Petersburg,"[{'rating': ['2/10', '5/10', '4/10'], 'data': ...","1,304 sqft",33703,3 Beds,FL,NaN,NaN,NaN,"$1,900/mo",0,

In [23]:
# обнаружились записи со стоимостью аренды в месяц, посмотрим в целом имеющие отношение к аренде записи
df[df['status'].str.contains('rent', na=False)]['status'].value_counts()

for rent              398
Apartment for rent      7
Condo for rent          7
Name: status, dtype: int64

In [24]:
# поскольку в целом модель должна предказывать стоимость продажи объекта
# плюс поскольку даже при желании на 400 записях достойный прогноз не построишь
# и эти записи составляют 0,1% от общего количества
# удаляем все записи, связанные с арендой
df = df[~df['status'].str.contains('rent', na=False)]
df.shape[0]

374243

In [25]:
# теперь заменим все остальные обнаруженные знаки, которые мешают перевести суммы в числовой формат
df['target'] = df['target'].apply(lambda x: int(x.replace('$','').
                                replace('+','').
                                replace(',','')))
# и собственно сменим тип данных в этом признаке
df['target'] = df['target'].astype(int)

________________

In [26]:
# проверим наличие дублей при исключении из датасета того или иного поля
# columns = df.columns
# for column in columns:
#    print(column, ' - ',df.drop(columns=column, axis=1).duplicated().sum())