# 0. Чтение данных и базовое ознакомление

In [52]:
# импортируем необходимые библиотеки
import pandas as pd
import numpy as np

In [53]:
# считываем данные
df = pd.read_csv('data/data.csv')

In [54]:
# выясним размерность датасета
print('размерность датасета: ',df.shape)
# проверим корректность загрузки и ознакомимся с полями
df.head()

размерность датасета:  (377185, 18)

,status,private pool,propertyType,street,baths,homeFacts,fireplace,city,schools,sqft,zipcode,beds,state,stories,mls-id,PrivatePool,MlsId,target
0,Active,NaN,Single Family Home,240 Heather Ln,3.5,"{'atAGlanceFacts': [{'factValue': '2019', 'fac...",Gas Logs,Southern Pines,"[{'rating': ['4', '4', '7', 'NR', '4', '7', 'N...",2900,28387,4,NC,NaN,NaN,NaN,611019,"$418,000"
1,for sale,NaN,single-family home,12911 E Heroy Ave,3 Baths,"{'atAGlanceFacts': [{'factValue': '2019', 'fac...",NaN,Spokane Valley,"[{'rating': ['4/10', 'None/10', '4/10'], 'data...","1,947 sqft",99216,3 Beds,WA,2.0,NaN,NaN,201916904,"$310,000"
2,for sale,NaN,single-family home,2005 Westridge Rd,2 Baths,"{'atAGlanceFacts': [{'factValue': '1961', 'fac...",yes,Los Angeles,"[{'rating': ['8/10', '4/10', '8/10'], 'data': ...","3,000 sqft",90049,3 Beds,CA,1.0,NaN,yes,FR19221027,"$2,895,000"
3,for sale,NaN,single-family home,4311 Livingston Ave,8 Baths,"{'atAGlanceFacts': [{'factValue': '2006', 'fac...",yes,Dallas,"[{'rating': ['9/10', '9/10', '10/10', '9/10'],...","6,457 sqft",75205,5 Beds,TX,3.0,NaN,NaN,14191809,"$2,395,000"
4,for sale,NaN,lot/land,1524 Kiscoe St,NaN,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Palm Bay,"[{'rating': ['4/10', '5/10', '5/10'], 'data': ...",NaN,32908,NaN,FL,NaN,NaN,NaN,861745,"$5,000"

In [55]:
# оценим количество пропусков и типы данных
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377185 entries, 0 to 377184
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   status        337267 non-null  object
 1   private pool  4181 non-null    object
 2   propertyType  342452 non-null  object
 3   street        377183 non-null  object
 4   baths         270847 non-null  object
 5   homeFacts     377185 non-null  object
 6   fireplace     103115 non-null  object
 7   city          377151 non-null  object
 8   schools       377185 non-null  object
 9   sqft          336608 non-null  object
 10  zipcode       377185 non-null  object
 11  beds          285903 non-null  object
 12  state         377185 non-null  object
 13  stories       226470 non-null  object
 14  mls-id        24942 non-null   object
 15  PrivatePool   40311 non-null   object
 16  MlsId         310305 non-null  object
 17  target        374704 non-null  object
dtypes: object(18)
memory usage: 51.8+ MB

In [56]:
# посмотрим на количество явных пропусков с более удобного ракурса
df.isnull().sum()

status           39918
private pool    373004
propertyType     34733
street               2
baths           106338
homeFacts            0
fireplace       274070
city                34
schools              0
sqft             40577
zipcode              0
beds             91282
state                0
stories         150715
mls-id          352243
PrivatePool     336874
MlsId            66880
target            2481
dtype: int64

Описание данных:

- 'status' — статус продажи;
- 'private pool' и 'PrivatePool' — наличие собственного бассейна;
- 'propertyType' — тип объекта недвижимости;
- 'street' — адрес объекта;
- 'baths' — количество ванных комнат;
- 'homeFacts' — сведения о строительстве объекта (содержит несколько типов сведений, влияющих на оценку объекта);
- 'fireplace' — наличие камина;
- 'city' — город;
- 'schools' — сведения о школах в районе;
- 'sqft' — площадь в футах;
- 'zipcode' — почтовый индекс;
- 'beds' — количество спален;
- 'state' — штат;
- 'stories' — количество этажей;
- 'mls-id' и 'MlsId' — идентификатор MLS (Multiple Listing Service, система мультилистинга);
- 'target' — цена объекта недвижимости (целевой признак, который необходимо спрогнозировать).

# 1. Предобработка данных

In [57]:
# для начала удалим записи с пустыми значениями целевой переменной, они явно не участвуют в этом мероприятии
df = df[~df['target'].isna()]
df.shape[0]

In [80]:
# пройдемся по датасету и уберем лишние пробелы и переносы строк
df = df.replace({r'\s+$': '', r'^\s+': ''}, regex=True).replace(r'\n',  ' ', regex=True)

In [64]:
# проанализируем датасет на наличие полных дубликатов
df.duplicated().sum()

50

In [65]:
# удалим полные дубликаты исходного датасета
df = df.drop_duplicates()
df.shape

(377135, 18)

#### Последовательно проверим признаки

In [119]:
columns = df.columns
for column in columns:
    print()
    print(column)
    print()
    print(df[column].value_counts().head(50))
    if df[column].value_counts().shape[0] > 50: 
        print(df[column].value_counts().tail(50))

status

for sale                             156058
Active                               105207
For sale                              43464
foreclosure                            6425
New construction                       5474
Pending                                4702
Pre-foreclosure                        2119
Pre-foreclosure / auction              1560
P                                      1488
Under Contract Show                    1183
/ auction                               936
Under Contract   Showing                793
Active Under Contract                   718
New                                     690
Under Contract                          690
Contingent                              581
Price Change                            563
Auction                                 536
Foreclosed                              459
A Active                                443
for rent                                398
Foreclosure                             343
recently sold                           287
Under Contract Backups                  252
Contingent Finance And Inspection       240
Pending Continue To Show                194
Option Pending                          110
Back on Market                          106
pending                                 105
Contingent Show                         101
Pending Taking Backups                   63
Option Contract                          54
Active With Offer                        49
Pending With Contingencies               44
C                                        39
Active Backup                            39
Contract P                               36
Pi                                       36
P Pending Sale                           35
Listing Extended                         28
Auction - Active                         28
Due Diligence Period                     27
Contract Contingent On Buyer Sale        25
Closed                                   18
C Continue Show                          18
Pending - Taking Backups                 17
Offer Pending Signature                  15
Active/Contingent                        15
Pending Inspection                       14
Contingent Take Backup                   14
Name: status, dtype: int64
Coming soon: Dec 11.                    2
Coming soon: Nov 22.                    2
Pending - Continue to Show              2
Under Contract - No Show                2
Pending W/ Cont.                        2
Pending (Do Not Show)                   2
Under contract                          2
For Sale                                2
Coming soon: Dec 18.                    2
Coming soon: Nov 21.                    2
Coming soon: Dec 24.                    2
Coming soon: Dec 16.                    2
Contract                                1
Pending Bring Backup                    1
Sold: $285,000                          1
Sold: $15,000                           1
Under Contract W/ Bckp                  1
Pending, Continue to Show               1
Coming soon: Nov 23.                    1
Coming soon: Dec 12.                    1
Reactivated                             1
Coming soon: Nov 5.                     1
Coming soon: Nov 12.                    1
Coming soon: Dec 1.                     1
Pending Sh                              1
Coming soon: Nov 25.                    1
Under Contract Taking Back Up Offers    1
Backup                                  1
Contingent - Sale of Home               1
Pending Take Backups                    1
Lease/Purchase                          1
Conting Accpt Backups                   1
Coming soon: Dec 27.                    1
Coming soon: Nov 26.                    1
Pending W/Escape Clause                 1
Conditional Contract                    1
Coming soon: Nov 17.                    1
Temporary Active                        1
Coming soon: Nov 11.                    1
Coming soon: Nov 8.                     1
Coming soon: Oct 29.                    1
Coming soon: Dec 15.                    1
Pending W/Backup Wanted                 1
Pending Backups Wanted                  1
Coming soon: Dec 25.                    1
Contingent   No Show                    1
Coming soon: Oct 24.                    1
Coming soon: Oct 21.                    1
Coming soon: Nov 14.                    1
Coming soon: Dec 23.                    1
Name: status, dtype: int64

propertyType

single-family home                  92199
Single Family                       62867
Single Family Home                  31728
condo                               25964
lot/land                            20526
Condo                               16561
townhouse                           11456
Land                                10934
multi-family                         7900
Condo/Townhome/Row Home/Co-Op        7701
Townhouse                            6936
Traditional                          5913
coop                                 3265
Multi Family                         2793
High Rise                            1823
Ranch                                1781
mobile/manufactured                  1618
Detached, One Story                  1614
Single Detached, Traditional         1581
Contemporary                         1557
Multi-Family Home                    1501
1 Story                              1234
Colonial                             1205
Mobile / Manufactured                1066
Contemporary/Modern                  1000
2 Stories                             911
Mfd/Mobile Home                       792
Single Detached                       751
Detached, Two Story                   638
Apartment                             609
One Story                             592
Transitional                          560
Cooperative                           535
Florida                               530
Bungalow                              442
Farms/Ranches                         371
apartment                             312
Two Story                             312
Garden Home                           305
2 Story                               282
Cape Cod                              281
2 Stories, Traditional                280
Spanish/Mediterranean                 272
Other Style                           249
1 Story, Traditional                  237
Other                                 232
Condo/Townhome, Traditional           225
SingleFamilyResidence                 220
Craftsman                             201
Contemporary/Modern, Traditional      200
Name: propertyType, dtype: int64
Cape, Multi-Level, Other Style                                            1
Ranch, Split-Level                                                        1
Traditional, Colonial                                                     1
2 Stories, Traditional, Other (See Remarks)                               1
Stilt House                                                               1
Georgian, Other Style                                                     1
Contemporary, Florida, Other                                              1
Colonial, Townhouse                                                       1
Bi-Level, High Rise                                                       1
3+ Stories, Texas Hill Country                                            1
Single Detached, Early American, Traditional, Tudor                       1
Condo/Unit, Contemporary, Traditional                                     1
Condo/Townhome, Contemporary/Modern, Split Level                          1
Loft, Traditional                                                         1
Traditional, Art Deco, Beaux Arts                                         1
Manuf/Mobile                                                              1
Single Detached, Contemporary/Modern, Mid-Century Modern, Prairie         1
Single Detached, Craftsman, Traditional, Tudor                            1
Courtyard, Custom                                                         1
Contemporary/Modern, English, French, Traditional                         1
Custom, Florida, Key West, Traditional                                    1
1 Story, Contemporary, Ranch, Traditional, Craftsman                      1
Manufactured House, Multi-Level, Manufactured Home                        1
Townhouse, 2-Story                                                        1
Bungalow, Craftsman, Transitional                                         1
1 Story, Historic/Older, Other (See Remarks)                              1
Condo/Townhome, Single Detached, Other (See Remarks), Traditional         1
Mobile Home 1 Story                                                       1
Dutch, Contemporary                                                       1
French, Georgian, Traditional                                             1
Farm/Ranch House, Single Detached, Contemporary/Modern, Ranch             1
A-Frame, Victorian/Federal                                                1
Contemporary, Modernist, Ranch, Rustic                                    1
Loft, Warehouse                                                           1
Bungalow, Craftsman, Ranch, Transitional, Cottage                         1
30X40 building                                                            1
Split-Entry, Craftsman                                                    1
Custom, Florida, Other, Spanish/Mediterranean                             1
Single Detached, Contemporary/Modern, Ranch, Traditional                  1
Colonial, English, Traditional                                            1
Single Detached, Contemporary/Modern, Other (See Remarks), Traditional    1
1 Story, Spanish, Ranch, Traditional                                      1
Condo/Townhome, Single Detached                                           1
Contemporary/Modern, French, Mediterranean, Traditional                   1
1 Story, Contemporary, Other (See Remarks)                                1
Custom, Elevated, Other                                                   1
Contemporary, Farmhouse                                                   1
2 Stories, Traditional, Mediterranean, Texas Hill Country                 1
1 Story, Contemporary, Traditional, Mediterranean                         1
Bilevel, Converted Dwelling, Loft with Bedrooms, Condo/Unit               1
Name: propertyType, dtype: int64

street

Address Not Disclosed            672
Undisclosed Address              517
(undisclosed Address)            391
Address Not Available            175
Unknown Address                   72
2103 E State Hwy 21               57
11305 Gulf Fwy                    54
17030 Youngblood Rd.              38
NE 58th Cir                       34
9470 Lancaster Rd. SW             32
1 Palmer Dr                       27
9845 Basil Western Rd NW          25
8426 Terrace Valley Circle        25
6320 SW 89th Court Road           24
8447 SW 99th Street Rd            22
5221 S. Zapata Hwy                20
Whitetail Trail                   19
Stone Bluff Drive                 18
24423 Ferdossa Drive              17
1727 Opal Field Lane              17
Boncher Blvd                      17
3423 Heather Garden Trail         17
2005 West Happy Valley Road       17
3435 Heather Garden Trail         17
1365 Neihart Way                  17
11 Pheasant Drive                 16
1024 Dali Blvd.                   16
50 Leanni Way                     16
606 Vineyard Hollow Court         16
1009 Rio De Janeiro Ave           15
13410 Canterbury Castle Drive     15
9915 Camellia Gardens Drive       15
24807 Twilight Hollow Lane        14
4707 Staffordshire Lane           14
2914 Karlissa Trail               14
3 Hemingway Avenue                14
18122 Shimmer Lane                14
9522 Summer River Dr              14
9200 Harrisburg Road              14
Dietz Drive                       13
1793 Blanco Bend Drive            13
25 Orlando Blvd                   13
108 Old Bay Loop                  13
14914 Bagley Lane                 13
7202 Duke Drive                   13
1706 Flourish Avenue              12
4693 Fairy Tale Circle            12
134 Hidden Lakes Road             12
18101 Bankhead Rd                 12
Islitas Dr                        12
Name: street, dtype: int64
302 Tempranillo Way                 1
8288 Mount Nido Dr                  1
25230 Cadiz Dr                      1
2705 S Beulah St                    1
1398 Vander Ave                     1
3439 Summerway Dr                   1
1809 Bamboo St                      1
8563 Culpepper Dr                   1
1005 Neil Armstrong Cir             1
Cypress II Plan in Arcadia Ridge    1
12804 E Burnside St                 1
5025 Pine St                        1
96 Vincent St                       1
8611 NE 143rd Ave                   1
7100 Roca Way                       1
7302 Horizon Dr                     1
285 Shadow Lakes Dr                 1
7740 Southside Blvd APT 906         1
823 W 110th St                      1
3702 Buffaloe Rd #6                 1
5308 Oystercatcher Ln NE            1
425 SW 175th Pl                     1
6835-6833 Vesper Ave                1
851 NE 1st Ave #2711                1
25323 Alicante Dr                   1
0 SW 122nd St                       1
888 Biscayne Blvd APT 1712          1
4794 Club Dr Unit 202               1
7827 Saint LO                       1
14155 Grand Mdws                    1
1552 N Wanamaker St                 1
42 Rainstone Ln                     1
2918 15th St SW                     1
1711 NW 7th Pl                      1
62 Castile Dr                       1
18150 NE 16th Ter                   1
7206 Sherwood Dr                    1
10854 Union Hall St                 1
1710 W Berkeley Pl                  1
1255 E Nees Ave                     1
17507 Endel Way                     1
419 E Griffith Way                  1
2701 NE 10th St Apt 704             1
MLS #: UCOM361483                   1
306 Delaware Ave #A                 1
413 Whitaker St                     1
1815 Colquitt St #A                 1
16220 NW 2nd Ave APT 511            1
8350 Ivory Tower Dr                 1
7810 Pereida St                     1
Name: street, dtype: int64

baths

2 Baths         52458
3 Baths         35503
2               20452
2.0             16575
4 Baths         14763
3.0             10868
3               10113
Bathrooms: 2     9538
2.5              8113
Bathrooms: 3     6613
1                6583
1.0              5930
5 Baths          5370
4.0              4593
2.5 Baths        4486
0                3811
4                3567
3.5              3455
Bathrooms: 1     3234
2 ba             2686
6 Baths          2603
Bathrooms: 4     2384
1,500            2209
3 ba             1893
1.5              1857
3.5 Baths        1816
2,000            1795
1,750            1723
3,000            1686
5.0              1557
2,250            1442
1,000            1280
5                1224
7 Baths          1210
1,250            1208
4.5              1016
2,750             965
2,500             894
Bathrooms: 5      823
~                 782
1 ba              756
6.0               737
4 ba              735
3,500             653
8 Baths           638
-- baths          509
6                 507
4.5 Baths         381
7.0               362
Bathrooms: 6      352
Name: baths, dtype: int64
40 Baths                 2
1 / 1-0 / 1-0 / 1-0      1
Bathrooms: 15            1
1-2 Baths                1
6.75 Baths               1
2.8 Baths                1
34.0                     1
60 Baths                 1
23                       1
17.0                     1
68 Baths                 1
64.0                     1
2-1 / 2-1 / 1-1 / 1-1    1
13 ba                    1
39 Baths                 1
11.5 Baths               1
16 ba                    1
5.5 ba                   1
30.0                     1
42 Baths                 1
14.5+                    1
10.5 Baths               1
Bathrooms: SemiMod       1
Bathrooms: 241           1
Bathrooms: 19            1
1-0 / 1-0 / 1            1
32                       1
Bathrooms: 27            1
35                       1
29 Baths                 1
116 / 116 / 116          1
21 Baths                 1
5.2 Baths                1
29                       1
76 Baths                 1
3-1 / 2-2                1
Bathrooms: 21            1
2.25 ba                  1
3.3 Baths                1
43 Baths                 1
34 Baths                 1
1 / 1 / 1 / 1            1
55.0                     1
25 Baths                 1
0.5 Baths                1
4.75 Baths               1
5.25 Baths               1
41.0                     1
1.8 Baths                1
44.0                     1
Name: baths, dtype: int64

homeFacts

{'atAGlanceFacts': [{'factValue': '', 'factLabel': 'Year built'}, {'factValue': '', 'factLabel': 'Remodeled year'}, {'factValue': '', 'factLabel': 'Heating'}, {'factValue': '', 'factLabel': 'Cooling'}, {'factValue': '', 'factLabel': 'Parking'}, {'factValue': '—', 'factLabel': 'lotsize'}, {'factValue': None, 'factLabel': 'Price/sqft'}]}                              7174
{'atAGlanceFacts': [{'factValue': None, 'factLabel': 'Year built'}, {'factValue': None, 'factLabel': 'Remodeled year'}, {'factValue': None, 'factLabel': 'Heating'}, {'factValue': None, 'factLabel': 'Cooling'}, {'factValue': None, 'factLabel': 'Parking'}, {'factValue': None, 'factLabel': 'lotsize'}, {'factValue': None, 'factLabel': 'Price/sqft'}]}                   3532
{'atAGlanceFacts': [{'factValue': '', 'factLabel': 'Year built'}, {'factValue': '', 'factLabel': 'Remodeled year'}, {'factValue': '', 'factLabel': 'Heating'}, {'factValue': '', 'factLabel': 'Cooling'}, {'factValue': '', 'factLabel': 'Parking'}, {'factValue': '', 'factLabel': 'lotsize'}, {'factValue': None, 'factLabel': 'Price/sqft'}]}                                566
{'atAGlanceFacts': [{'factValue': '', 'factLabel': 'Year built'}, {'factValue': '', 'factLabel': 'Remodeled year'}, {'factValue': '', 'factLabel': 'Heating'}, {'factValue': '', 'factLabel': 'Cooling'}, {'factValue': '', 'factLabel': 'Parking'}, {'factValue': '10000', 'factLabel': 'lotsize'}, {'factValue': None, 'factLabel': 'Price/sqft'}]}                           533
{'atAGlanceFacts': [{'factValue': '', 'factLabel': 'Year built'}, {'factValue': '', 'factLabel': 'Remodeled year'}, {'factValue': '', 'factLabel': 'Heating'}, {'factValue': '', 'factLabel': 'Cooling'}, {'factValue': '', 'factLabel': 'Parking'}, {'factValue': '10,000 Sq. Ft.', 'factLabel': 'lotsize'}, {'factValue': None, 'factLabel': 'Price/sqft'}]}                  370
{'atAGlanceFacts': [{'factValue': '', 'factLabel': 'Year built'}, {'factValue': '', 'factLabel': 'Remodeled year'}, {'factValue': '', 'factLabel': 'Heating'}, {'factValue': '', 'factLabel': 'Cooling'}, {'factValue': '', 'factLabel': 'Parking'}, {'factValue': '0.25 acres', 'factLabel': 'lotsize'}, {'factValue': None, 'factLabel': 'Price/sqft'}]}                      327
{'atAGlanceFacts': [{'factValue': '', 'factLabel': 'Year built'}, {'factValue': '', 'factLabel': 'Remodeled year'}, {'factValue': '', 'factLabel': 'Heating'}, {'factValue': '', 'factLabel': 'Cooling'}, {'factValue': '', 'factLabel': 'Parking'}, {'factValue': '10018 sqft', 'factLabel': 'lotsize'}, {'factValue': None, 'factLabel': 'Price/sqft'}]}                      296
{'atAGlanceFacts': [{'factValue': '', 'factLabel': 'Year built'}, {'factValue': '', 'factLabel': 'Remodeled year'}, {'factValue': '', 'factLabel': 'Heating'}, {'factValue': '', 'factLabel': 'Cooling'}, {'factValue': '', 'factLabel': 'Parking'}, {'factValue': '10019', 'factLabel': 'lotsize'}, {'factValue': None, 'factLabel': 'Price/sqft'}]}                           288

##### Частный бассейн - 'private pool' и 'PrivatePool'

In [66]:
# проверим пару признаков наличия частного бассейна
# для начала проверим варианты внесения информации
display(df['private pool'].value_counts())
display(df['PrivatePool'].value_counts())

Yes    4181
Name: private pool, dtype: int64

yes    28792
Yes    11518
Name: PrivatePool, dtype: int64

In [67]:
# предположим, что это признаки, созданные в базе данных в разное время
# т.е., информация о наличии бассейна есть либо в одном, либо в другом
# в таком случае, не должно быть записей, в которых одновременно указано наличие в обоих полях
# проверим простым способом - переведем наличие в "1" и сложим оба столбца
# если запись и там, и там, получим в этих записях двойки

# для начала переведем записи в единицы и проверим сохранение количеств значений
df['PrivatePool'] = df['PrivatePool'].apply(lambda x: 1 if x in ['yes', 'Yes'] else 0)
display(df['PrivatePool'].value_counts())
df['private pool'] = df['private pool'].apply(lambda x: 1 if x in ['yes', 'Yes'] else 0)
display(df['private pool'].value_counts())

0    336825
1     40310
Name: PrivatePool, dtype: int64

0    372954
1      4181
Name: private pool, dtype: int64

In [68]:
# поскольку перекодирование столбцов прошло успешно, теперь делаем аггрегирующее поле
# проверка вариантов значений покажет, подтвердилось ли вышеописанное предположение
df['PoolPrivate'] = df['PrivatePool'] + df['private pool']
df['PoolPrivate'].value_counts()

0    332644
1     44491
Name: PoolPrivate, dtype: int64

In [69]:
# схема сработала, изначальные признаки можно удалить
df = df.drop(columns=['private pool', 'PrivatePool'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 377135 entries, 0 to 377184
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   status        337218 non-null  object
 1   propertyType  342402 non-null  object
 2   street        377133 non-null  object
 3   baths         270827 non-null  object
 4   homeFacts     377135 non-null  object
 5   fireplace     103112 non-null  object
 6   city          377101 non-null  object
 7   schools       377135 non-null  object
 8   sqft          336585 non-null  object
 9   zipcode       377135 non-null  object
 10  beds          285881 non-null  object
 11  state         377135 non-null  object
 12  stories       226462 non-null  object
 13  mls-id        24942 non-null   object
 14  MlsId         310266 non-null  object
 15  target        374655 non-null  object
 16  PoolPrivate   377135 non-null  int64
dtypes: int64(1), object(16)
memory usage: 51.8+ MB

##### Идентификаторы MLS - 'mls-id' и 'MlsId'

In [93]:
# проверим пару признаков идентификаторов MLS
# предположение такое - признаки заполнялись в разные периоды времени (как бассейны)
# если это так, значение есть либо в одном поле, либо в другом, проверим
print('Количество записей с одновременно заполненными полями "MlsId" и "mls-id" : ',df[~df['MlsId'].isna() & ~df['mls-id'].isna()].shape[0])

Количество записей с одновременно заполненными полями "MlsId" и "mls-id" :  0

In [94]:
# нет ни одной записи, в которой одновременно были бы непустые значения в обоих полях
# теперь проверим, нет ли одинаковых идентификаторов в обоих полях, и если есть, то идентичные ли записи им соответствуют
# это будет обозначать, что в какой-то момент одно поле для внесения отключили, а второе активировали
# для начала переведем в строчные буквы
df['MlsId'] = df['MlsId'].str.lower()
df['mls-id'] = df['mls-id'].str.lower()
MlsIdList = list(df['MlsId'].unique())
print('уникальных значений MlsId : ',len(MlsIdList))
mls_id_List = list(df['mls-id'].unique())
print('уникальных значений mls-id : ',len(mls_id_List))
print ('при пересечении только nan длина множества должна быть : ', (len(MlsIdList)+len(mls_id_List)-1))
Mls = set(MlsIdList + mls_id_List)
print('уникальных значений кумулятивно по обоим столбцам : ',len(Mls))
if len(Mls) < (len(MlsIdList)+len(mls_id_List)-1):
    print('значения столбцов пересекаются')
else:
    print('значения столбцов не пересекаются')

уникальных значений MlsId :  232929
уникальных значений mls-id :  24907
при пересечении только nan длина множества должна быть :  257835
уникальных значений кумулятивно по обоим столбцам :  248997
значения столбцов пересекаются

In [110]:
q = pd.DataFrame(MlsIdList + mls_id_List)
q.value_counts().head(30)

76595543      2
dcdc449624    2
a10772340     2
14096844      2
dcdc449618    2
43719204      2
77092420      2
14096628      2
9822882       2
77099258      2
34936525      2
14096546      2
o5800906      2
o5800907      2
14096327      2
7710472       2
dcdc449558    2
98189504      2
14095924      2
dcdc449532    2
dcdc449528    2
43691201      2
221373        2
981685        2
dcdc449632    2
98329117      2
34961526      2
1852182       2
1409766       2
98301303      2
dtype: int64

In [72]:
# объединим идентификатор MLS в один столбец и удалим два исходных
df['MLS'] = df['MlsId'].fillna('') + df['mls-id'].fillna('')
#df = df.drop(columns=['MlsId', 'mls-id'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 377135 entries, 0 to 377184
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   status        337218 non-null  object
 1   propertyType  342402 non-null  object
 2   street        377133 non-null  object
 3   baths         270827 non-null  object
 4   homeFacts     377135 non-null  object
 5   fireplace     103112 non-null  object
 6   city          377101 non-null  object
 7   schools       377135 non-null  object
 8   sqft          336585 non-null  object
 9   zipcode       377135 non-null  object
 10  beds          285881 non-null  object
 11  state         377135 non-null  object
 12  stories       226462 non-null  object
 13  mls-id        24942 non-null   object
 14  MlsId         310266 non-null  object
 15  target        374655 non-null  object
 16  PoolPrivate   377135 non-null  int64
 17  MLS           377135 non-null  object
dtypes: int64(1), object(17)
memory usage: 54.7+ MB

In [73]:
# проверим столбец на распределение количества записей с одинаковыми значениями в поле MLS
MLS_count = pd.DataFrame(df['MLS'].value_counts()).reset_index()
MLS_count['MLS'].value_counts()

1        181459
2         50379
3         15828
4          1265
5            43
6            14
8             3
9             2
7             2
41927         1
40            1
16            1
13            1
12            1
11            1
Name: MLS, dtype: int64

In [74]:
# Просмотрим подробно наиболее часто встречающиеся значения
MLS_count[MLS_count['MLS'] >= 6]

                         index    MLS
0                               41927
1                       no mls     40
2                     no mls #     16
3         a, houston, tx 77008     13
4                          no      12
5       12a, orlando, fl 32833     11
6         b, houston, tx 77008      9
7    1, south boston, ma 02127      9
8         b, houston, tx 77007      8
9      2, washington, dc 20002      8
10      11a, orlando, fl 32833      8
11     2, washington, dc 20010      7
12     1, washington, dc 20002      7
13     1, washington, dc 20010      6
14                     1412350      6
15       3a, orlando, fl 32833      6
16       1a, orlando, fl 32833      6
17     2, washington, dc 20001      6
18     1, washington, dc 20001      6
19                     2088662      6
20          0, doral, fl 33178      6
21         a, austin, tx 78721      6
22     2, washington, dc 20009      6
23         2, boston, ma 02129      6
24                     nomlsid      6
25                     2101941      6
26         a, austin, tx 78704      6

In [111]:
df[df['MLS'] == 'dcdc449528']

,status,propertyType,street,baths,homeFacts,fireplace,city,schools,sqft,zipcode,beds,state,stories,mls-id,MlsId,target,PoolPrivate,MLS,unique
105736,Active,Condo/Townhome/Row Home/Co-Op,1745 N St NW Unit 412,1,"{'atAGlanceFacts': [{'factValue': '2018', 'fac...",NaN,Washington,"[{'rating': ['8', '3', 'NR', '10', '8', '10', ...",815,20036,1,DC,1,NaN,dcdc449528,"$659,900",0,dcdc449528,dcdc4495281745 N St NW Unit 412
126211,New construction,Condo,1745 N St NW UNIT 412,Bathrooms: 1,"{'atAGlanceFacts': [{'factValue': '2018', 'fac...",NaN,Washington,"[{'rating': ['8/10', '3/10'], 'data': {'Distan...",Total interior livable area: 815 sqft,20036,1 bd,DC,1.0,dcdc449528,NaN,"$659,900",0,dcdc449528,dcdc4495281745 N St NW UNIT 412
321310,Active,Victorian,1745 N St NW #412,"1,500","{'atAGlanceFacts': [{'factValue': '2018', 'fac...",NaN,Washington,"[{'rating': ['8', 'NR', '3', 'NR'], 'data': {'...",815,20036,Baths,DC,NaN,NaN,dcdc449528,"659,900",0,dcdc449528,dcdc4495281745 N St NW #412
334890,for sale,condo,1745 N St NW #412,NaN,"{'atAGlanceFacts': [{'factValue': '2017', 'fac...",NaN,Washington,"[{'rating': ['8/10', '3/10'], 'data': {'Distan...",815 sqft,20036,NaN,DC,1.0,NaN,dcdc449528,"$659,900",0,dcdc449528,dcdc4495281745 N St NW #412

In [99]:
df['street'].value_counts().head(10)

Address Not Disclosed    672
Undisclosed Address      517
(undisclosed Address)    391
Address Not Available    175
Unknown Address           72
2103 E State Hwy 21       57
11305 Gulf Fwy            54
17030 Youngblood Rd.      38
NE 58th Cir               34
9470 Lancaster Rd. SW     32
Name: street, dtype: int64

In [100]:
df[df['street'] == '2103 E State Hwy 21']

,status,propertyType,street,baths,homeFacts,fireplace,city,schools,sqft,zipcode,beds,state,stories,mls-id,MlsId,target,PoolPrivate,MLS
14472,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","2,100",77803,4,TX,NaN,NaN,161662954,"$146,000",0,161662954
14978,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,740",77803,3,TX,NaN,NaN,1662934,"$126,000",0,1662934
19399,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...",901,77803,3,TX,NaN,NaN,1703475,"$43,563",0,1703475
33031,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,694",77803,4,TX,NaN,NaN,1662948,"$92,000",0,1662948
34947,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,680",77803,3,TX,NaN,NaN,1662940,"$125,000",0,1662940
39641,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","2,108",77803,4,TX,NaN,NaN,1662928,"$112,000",0,1662928
44009,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,178",77803,3,TX,NaN,NaN,1750719,"$58,706",0,1750719
45377,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,530",77803,3,TX,NaN,NaN,1706044,"$83,893",0,1706044
47214,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,530",77803,3,TX,NaN,NaN,1662925,"$91,000",0,1662925
56593,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","2,280",77803,4,TX,NaN,NaN,161662970,"$152,000",0,161662970
71827,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,530",77803,3,TX,NaN,NaN,1662924,"$89,000",0,1662924
76921,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,920",77803,3,TX,NaN,NaN,1662939,"$135,000",0,1662939
82764,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,860",77803,3,TX,NaN,NaN,1662937,"$132,000",0,1662937
89735,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,955",77803,3,TX,NaN,NaN,1662933,"$166,000",0,1662933
93891,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,920",77803,3,TX,NaN,NaN,161662973,"$132,000",0,161662973
94100,Active,Single Family Home,2103 E State Hwy 21,3,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","2,356",77803,5,TX,NaN,NaN,161662963,"$117,670",0,161662963
94886,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,798",77803,3,TX,NaN,NaN,161662968,"$98,000",0,161662968
101439,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,860",77803,3,TX,NaN,NaN,161696152,"$129,824",0,161696152
107028,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","2,077",77803,4,TX,NaN,NaN,161696097,"$106,689",0,161696097
110502,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,023",77803,2,TX,NaN,NaN,161662956,"$55,000",0,161662956
111502,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,500",77803,3,TX,NaN,NaN,1662920,"$111,000",0,1662920
115473,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","2,110",77803,3,TX,NaN,NaN,1662935,"$165,000",0,1662935
121158,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,680",77803,3,TX,NaN,NaN,161662972,"$122,000",0,161662972
122236,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,800",77803,3,TX,NaN,NaN,1662938,"$129,000",0,1662938
134352,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...",930,77803,2,TX,NaN,NaN,161662965,"$52,000",0,161662965
147451,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,550",77803,3,TX,NaN,NaN,1696057,"$90,053",0,1696057
148546,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,178",77803,3,TX,NaN,NaN,161707287,"$83,707",0,161707287
157400,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","2,108",77803,4,TX,NaN,NaN,1662936,"$101,000",0,1662936
176248,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,860",77803,2,TX,NaN,NaN,161662952,"$101,000",0,161662952
176586,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,560",77803,3,TX,NaN,NaN,1662921,"$111,000",0,1662921
181281,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,968",77803,3,TX,NaN,NaN,161662917,"$135,000",0,161662917
185743,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,093",77803,3,TX,NaN,NaN,161662957,"$68,000",0,161662957
204971,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,178",77803,3,TX,NaN,NaN,161662915,"$62,000",0,161662915
208412,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","2,100",77803,3,TX,NaN,NaN,1662932,"$144,578",0,1662932
224560,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,735",77803,3,TX,NaN,NaN,1662926,"$95,000",0,1662926
226542,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,476",77803,4,TX,NaN,NaN,1662949,"$85,245",0,1662949
241120,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,312",77803,4,TX,NaN,NaN,161662966,"$69,638",0,161662966
250623,Active,Single Family Home,2103 E State Hwy 21,1,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...",601,77803,1,TX,NaN,NaN,1733427,"$66,719",0,1733427
258600,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,925",77803,3,TX,NaN,NaN,1716917,"$157,607",0,1716917
259841,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,178",77803,3,TX,NaN,NaN,1662944,"$57,000",0,1662944
270281,Active,Single Family Home,2103 E State Hwy 21,1,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...",875,77803,2,TX,NaN,NaN,1733431,"$81,505",0,1733431
272992,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,980",77803,4,TX,NaN,NaN,161662953,"$132,000",0,161662953
276510,Active,Single Family Home,2103 E State Hwy 21,1,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...",765,77803,2,TX,NaN,NaN,161670657,"$39,932",0,161670657
284417,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,178",77803,3,TX,NaN,NaN,1662945,"$75,000",0,1662945
284447,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,305",77803,3,TX,NaN,NaN,161670544,"$76,089",0,161670544
291667,Active,Single Family Home,2103 E State Hwy 21,3,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,920",77803,4,TX,NaN,NaN,161662971,"$132,000",0,161662971
316219,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,860",77803,3,TX,NaN,NaN,1662927,"$102,000",0,1662927
320207,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,085",77803,3,TX,NaN,NaN,161662959,"$58,000",0,161662959
324894,Active,Single Family Home,2103 E State Hwy 21,3,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,913",77803,5,TX,NaN,NaN,1662947,"$101,188",0,1662947
325381,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","2,340",77803,4,TX,NaN,NaN,161662919,"$142,000",0,161662919
332083,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,365",77803,2,TX,NaN,NaN,1662922,"$82,000",0,1662922
333756,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,365",77803,3,TX,NaN,NaN,161662958,"$81,000",0,161662958
340822,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,968",77803,3,TX,NaN,NaN,161662918,"$136,799",0,161662918
345761,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...",868,77803,2,TX,NaN,NaN,161662962,"$52,000",0,161662962
348303,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,178",77803,3,TX,NaN,NaN,161662964,"$65,000",0,161662964
368563,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","1,178",77803,3,TX,NaN,NaN,1662942,"$62,000",0,1662942
375136,Active,Single Family Home,2103 E State Hwy 21,2,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Bryan,"[{'rating': ['2', '2', '2', '4', '3', 'NR', 'N...","2,040",77803,3,TX,NaN,NaN,161662969,"$141,000",0,161662969

In [102]:
# проверим уникальность объекта по сцепке MLS и адреса
df['unique'] = df['MLS'].fillna('') + df['street'].fillna('')

In [108]:
df[~(df['MLS'] == '')]['unique'].value_counts()

87720101709 Leilani Dr              4
457418357222 Tuck St                4
35714428134 Paw Club Dr             4
15124012214 12th Ave W              4
76916002404 N Burr St               4
                                   ..
a444242115332 Taurus Cir            1
blur1831740MLS #: BLUR1831740       1
22907532816 Enfield Dr              1
2190687883302 E 13th St             1
103742333530 N Lake Shore Dr #4B    1
Name: unique, Length: 270364, dtype: int64

In [109]:
df[df['unique'] == '87720101709 Leilani Dr']

,status,propertyType,street,baths,homeFacts,fireplace,city,schools,sqft,zipcode,beds,state,stories,mls-id,MlsId,target,PoolPrivate,MLS,unique
7673,NaN,Single Family,1709 Leilani Dr,3,"{'atAGlanceFacts': [{'factValue': 'No Data', '...",NaN,Houston,"[{'rating': ['7/10', '3/10', '8/10'], 'data': ...","2,165",77055,3,TX,2.0,NaN,8772010,"$552,500",0,8772010,87720101709 Leilani Dr
20370,for sale,single-family home,1709 Leilani Dr,3 Baths,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",yes,Houston,"[{'rating': ['3/10', '8/10', '7/10'], 'data': ...","2,165 sqft",77055,3 Beds,TX,2.0,NaN,8772010,"$552,500",0,8772010,87720101709 Leilani Dr
139865,Active,Traditional,1709 Leilani Dr,NaN,"{'atAGlanceFacts': [{'factValue': '2020', 'fac...",1,Houston,"[{'rating': ['3', '3', '2'], 'data': {'Distanc...","2,165",77055,NaN,TX,2,NaN,8772010,"552,500",0,8772010,87720101709 Leilani Dr
157208,Active,Single Family Home,1709 Leilani Dr,2.5,"{'atAGlanceFacts': [{'factValue': '2020', 'fac...",1,Houston,"[{'rating': ['3', '3', '2', '2', '10', 'NR', '...",2165,77055,3.0,TX,2,NaN,8772010,"$552,500",0,8772010,87720101709 Leilani Dr

In [76]:
# заменим обозначение отсутствия номера MLS на однотипное пустое значение
no_mls = ['no mls', 'no mls #', 'no', 'nomlsid']

In [77]:
# проверим наличие дублей при исключении из датасета того или иного поля
# columns = df.columns
# for column in columns:
#    print(column, ' - ',df.drop(columns=column, axis=1).duplicated().sum())

Обнаруженные проблемы:
- дубли записей при исключении из датасета практически любого из полей
- значения внесены не в те поля (площадь в кровати)
- не числовые значения
- большое количество значений в некоторых столбцах