# 2. Анализ данных

In [1]:
# импортируем необходимые библиотеки
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
# загрузим ранее сохраненный очищенный и предобработанный датасет
df = pd.read_csv('data/data_1.csv')
df.head()

,status,street,baths,city,sqft,zipcode,beds,state,target,PoolPrivate,MLS,latitude,longitude,Year built,lotsize,school_rate,school_dist,PrType
0,active,240 Heather Ln,3.5,southern pines,2900.0,28387,4.0,NC,418000,0,611019,35.18,-79.40,2019,0.0,5.2,2.7,single family
1,for sale,12911 E Heroy Ave,3.0,spokane valley,1947.0,99216,3.0,WA,310000,0,201916904,47.69,-117.19,2019,5828.0,4.0,1.0,single family
2,for sale,2005 Westridge Rd,2.0,los angeles,3000.0,90049,3.0,CA,2895000,1,fr19221027,34.08,-118.49,1961,8626.0,6.7,1.2,single family
3,for sale,4311 Livingston Ave,8.0,dallas,6457.0,75205,5.0,TX,2395000,0,14191809,32.79,-96.76,2006,8220.0,9.0,0.1,single family
4,for sale,1524 Kiscoe St,0.0,palm bay,0.0,32908,0.0,FL,5000,0,861745,27.98,-80.66,no data,10019.0,4.7,3.0,land

In [3]:
# посмотрим основные параметры датасета
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353505 entries, 0 to 353504
Data columns (total 18 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   status       353505 non-null  object
 1   street       353505 non-null  object
 2   baths        353505 non-null  float64
 3   city         353489 non-null  object
 4   sqft         353505 non-null  float64
 5   zipcode      353505 non-null  int64
 6   beds         353505 non-null  float64
 7   state        353505 non-null  object
 8   target       353505 non-null  int64
 9   PoolPrivate  353505 non-null  int64
 10  MLS          315444 non-null  object
 11  latitude     353505 non-null  float64
 12  longitude    353505 non-null  float64
 13  Year built   353505 non-null  object
 14  lotsize      353505 non-null  float64
 15  school_rate  353505 non-null  float64
 16  school_dist  353505 non-null  float64
 17  PrType       353505 non-null  object
dtypes: float64(8), int64(3), object(7)
memory usage: 48.5+ MB